{% extends 'base.html.twig' %}

    {% block pageTitle %}new student form{% endblock %}

    {% block body %}
        <h1>Create new student</h1>

        {{ dump(app) }}

        {% for flash_message in app.flashes('error') %}
            <div class="flash-error">
                {{ flash_message }}
            </div>
        {% endfor %}


        <form method="POST">
            First Name:
            <input type="text" name="firstName" value={{ firstName }}>
            <p>
                Surname:
                <input type="text" name="surname" value={{ surname }}>
            <p>
                <input type="submit" value="Create new student">
        </form>
    {% endblock %}