{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World</h1>
    <p>
        Hello World from the default controller
    </p>

    <ul>
        <li>apples</li>
        <li>grapes</li>
        <li>lemons</li>
    </ul>
{% endblock %}